/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #A8D18D !important;
    color: #fefefe;
    cursor: default;
    border-radius: 9px;
}

.answer-radio-button
{
    display: block !important;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
    font-size: 20px;
}