/* Add application styles & imports to this file! */

.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #A8D18D !important;
    color: #fefefe;
    cursor: default;
    border-radius: 9px;
}